{% extends "starter.html" %}
{% load staticfiles %}
{% block css %}

  <style type="text/css">
  	.imagen{
  		width: 50px;
		height: 50px;
  	}
    .ancho-total{
      width: 100%;
    }
    .input {
        display: block;
    }
  </style>
{% endblock %}

{% block menu %}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">

                  <li class="active"><a href="{% url 'administrar' %}"><i class="fa fa-home"></i> Enfermedades</a>
                  </li>

                  <li ><a href="{% url 'dianostico' %}"><i class="fa  fa-heartbeat"></i> Diagnóstico</a>
                  </li>

                </ul>
              </div>
            </div>
{% endblock %}
{% block titulo %}Administrador médico{% endblock %}
{% block dirs%}
    {% endblock %}
{% block main %}
<div class="col-md-6 col-sm-12 panel panel-default">
      <div class="box-body">

            <div class="panel-heading">
                <h3>Agregar nueva enfermedad</h3>
            </div>

              <form id="formEnfermedades">{% csrf_token %}
                <div class="form-group">
                 <label for="codigo">Código:</label>
                 <input name="codigo" type="text" class="form-control ">
                </div>
                <div class="form-group">
                 <label for="nombre">Nombre:</label>
                 <input name="nombre" type="text" class="form-control " >
                </div>
                <div class="form-group">
                 <label for="causas">Causas:</label>
                 <textarea name="causas" class="form-control" rows="5" id="causas"></textarea>
                </div>
                <div class="form-group">
                 <label for="tratamiento">Tratamiento:</label>
                 <textarea name="tratamiento" class="form-control" rows="5" id="tratamiento"></textarea>
                </div>

                <label for="sintoma">Síntomas:</label>
                <div id="lista-sintomas" class="form-group"></div>

                 <div name="sintomas" id="lista-sintomas" class="form-group">
                <button id="btnPregunta" type="button" class="btn btn-default pull-right" onclick="addPregunta()">Añadir pregunta</button>
                <label for="preguntas">Preguntas Seleccionadas:</label>
                </div>

                <div id="listaPreguntasSeleccionadas" class="form-group"></div>

                <div id="areaPregunta" class="form-group"></div>
                <button type="submit"" class="btn btn-success col-md-12">Guardar</button>
              </form>



            </div>
</div>

            <div class="col-md-6 col-sm-12 panel panel-default">
              <div class="box-body">

              <div class="panel-heading">
                  <h3>Síntomas</h3>
              </div>

                <div id="test-list" class="panel-body ">
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
                      <div class="input-group">
                        <input type="text" class="form-control search" placeholder="Buscar síntoma...">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Go!</button>
                        </span>
                      </div>
                    </div>
                    <div class="panel-group checkbox list ">

                      {% for signo in signos_generales %}
                      <label class="ancho-total ">
                        <input type="checkbox" id="sintoma_{{signo.pk}}" value="{{signo.nombre}}" class="selecciones" name="{{signo.pk}}">

                        <div class="panel panel-default">
                          <a data-toggle="collapse" href="#{{signo.identificador}}">
                            <div class="panel-heading fondo-celeste">
                              <h4 class="panel-title signo">
                                {{signo.nombre}}
                              </h4>
                            </div>
                          </a>
                          <div id="{{signo.identificador}}" class="panel-collapse collapse">
                            <div class="panel-body sintoma">{{signo.explicacion}}</div>
                          </div>

                        </div>

                      </label>

                      {% endfor %}

                    </div>
                    <ul class="pagination"></ul>
                </div>

                </div>
            </div>
{% endblock %}
{% block js %}
<!-- Datateble -->
    <script src="{% static 'js/list/list.js' %}"></script>
    <script type="text/javascript">

    $('.selecciones').change(function() {
          if($(this).is(":checked")) {
              $("#lista-sintomas").append(`<button id="boton_`+$(this).attr('id')+`" type="button" data-toggle="tooltip" data-placement="top" title="Borrar" class="btn btn-default btn-lg signo_seleccionado" data="`+$(this).attr('name')+`" onclick="quitarSintoma('`+$(this).attr('id')+`')">`+$(this).val()+`</button>`);
          } else{
            $('#boton_'+$(this).attr('id')).remove();
          }
      });

    var monkeyList = new List('test-list', {
        valueNames: ['signo','sintoma'],
        page: 10,
        pagination: true
      });
    var num_preg = 0;

      

      function quitarSintoma( id_sintoma ){
          if($('#'+id_sintoma).is(":checked")){
            $('#'+id_sintoma).attr("checked", false);
            $('#boton_'+id_sintoma).remove();
          }
      }


      function addPregunta() {
        $("#areaPregunta").append('<textarea class="form-control" rows="5" id="pregunta_nueva"></textarea>');
        $("#areaPregunta").append('<button type="button" id="aceptarBtn" onclick="aceptar()" class="btn btn-success pull-right">Aceptar</button>');
        $("#areaPregunta").append('<button type="button" id="cancelarBtn" onclick="cancelar()" class="btn btn-danger pull-right">Cancelar</button>');

            $('#btnPregunta').prop("disabled",true);

      }

      function cancelar(){
        $('#btnPregunta').prop("disabled",false);
        $("#areaPregunta").empty();
      }

      function aceptar(){
        num_preg++;
        $("#listaPreguntasSeleccionadas").append(`<div class="panel panel-default">
                <a data-toggle="collapse" href="#pregunta`+num_preg+`">
                  <div class="panel-heading fondo-celeste">
                    <h4 class="panel-title signo">
                      Pregunta `+num_preg+`
                    </h4>
                  </div>
                </a>
                <div id="pregunta`+num_preg+`" class="panel-collapse collapse">
                  <div class="panel-body pregunta">`+$('#pregunta_nueva').val()+`</div>
                </div>

              </div>`);
        $('#btnPregunta').prop("disabled",false);
        $("#areaPregunta").empty();
      }

      $(function(){
              $("#formEnfermedades").on("submit", function(e){
                console.log("Entra");
                  e.preventDefault();
                  var formData = new FormData(document.getElementById("formEnfermedades"));
                  var sintomas = [];
                  var preguntas = [];
                  $(".signo_seleccionado").each(function() {
                      sintomas.push($(this).attr('data'));
                  });
                  $('.pregunta').each(function() {
                      preguntas.push($(this).html());
                  });
                  console.log(sintomas);
                  console.log(preguntas);
                  
                  formData.append("sintomas", JSON.stringify(sintomas));
                  formData.append("preguntas", JSON.stringify(preguntas));
                  //formData.append(f.attr("name"), $(this)[0].files[0]);
                  if(validarCampos(formData)){
                      $.ajax({
                          url: "{% url 'guardar_enfermedad'%}",
                          type: "post",
                          data: formData,
                          cache: false,
                          contentType: false,
                          processData: false
                      })
                          .done(function(res){
                            if(res!=0){
                              alert("Guadado exitoso");
                              window.location.href = "{% url 'ver_enfermedad' id=12345 %}".replace(/12345/, res);
                            }
                            else{
                              alert("Ocurrió un error");
                              }
                          });
                            
                  }else{
                      alert("Hay campos vacíos que son requeridos");
                  }
                  
              });
        });
      // Valida solamente que los campos no sean vacíos
      function validarCampos(formData){
          for (var pair of formData.entries()) {
            if(pair[0]=="codigo")
              if(pair[1].replace(" ", "")=="" || pair[1]==undefined )return false;
            if(pair[0]=="nombre")
              if(pair[1].replace(" ", "")=="" || pair[1]==undefined )return false;
            if(pair[0]=="sintomas"){
              console.log(pair[1]);
              if(pair[1]=="[]" || pair[1]==undefined )return false;
            }
            if(pair[0]=="preguntas"){
              console.log(pair[1]);
              if(pair[1]=="[]" || pair[1]==undefined )return false;
            }
          }
          return true;
      }
    </script>
{% endblock %}
