{% extends "starter.html" %}
{% load staticfiles %}
{% block css %}
 
  <style type="text/css">
  	.imagen{
  		width: 50px;
		height: 50px;
  	}
    .ancho-total{
      width: 100%;
    }
    .pagination li {
      display:inline-block;
      padding:5px;
    }
    .center_div{
        margin: 0 auto;
        width:80% /* value of your choice which suits your alignment */
    }
    .fondo-celeste{
      background-color: #f7f7f7;
    }
    .oculto{
      display: none;
    }
    .modal-body{
        max-height: 500px;
        overflow-y: auto;
    }
  </style>
{% endblock %}

{% block menu %}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">

                  <li ><a href="{% url 'administrar' %}"><i class="fa fa-home"></i> Enfermedades</a>
                  </li>

                  <li class="active"><a href="{% url 'dianostico' %}"><i class="fa fa-heartbeat"></i> Diagnóstico</a>
                  </li>

                </ul>
              </div>
            </div>
{% endblock %}
{% block titulo %}Diagnóstico médico{% endblock %}
{% block dirs%}
    {% endblock %}
{% block main %}
<div class="resultados oculto col-md-12 panel panel-default">
      <div class="box-body">

      <div class="panel-heading">
          <h3>Posibles enfermedades</h3>
      </div>

        <div class="panel-body ">
       </div>
       <!-- <div class="oculto panel-footer "> -->
       <div class="panel-footer "> <!-- Cambiar etapa de pruebas -->
          <button id="dianostico-final" type="button" class="btn btn-info" onclick="diagnosticoFinal()">Diagnóstico final</button>
       </div>

      </div>

</div>
    <div class="col-md-6 panel panel-default">
      <div class="box-body">

      <div class="panel-heading">
          <h3>Síntomas</h3>
      </div>

        <div id="test-list" class="panel-body ">
          <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control search" placeholder="Buscar síntoma...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
            <div class="panel-group checkbox list ">

            {% for signo in signos_generales %} 
            <label class="ancho-total ">
              <input type="checkbox" id="sintoma_{{signo.pk}}" value="{{signo.nombre}}" class="selecciones" name="{{signo.pk}}">

              <div class="panel panel-default">
                <a data-toggle="collapse" href="#{{signo.identificador}}">
                  <div class="panel-heading fondo-celeste">
                    <h4 class="panel-title signo">
                      {{signo.nombre}}
                    </h4>
                  </div>
                </a>
                <div id="{{signo.identificador}}" class="panel-collapse collapse">
                  <div class="panel-body sintoma">{{signo.explicacion}}</div>
                </div>

              </div>

            </label>

            {% endfor %} 
            
            </div>
            <ul class="pagination"></ul>
        </div>
        <div >
  </div>
  <button type="button" class="btn btn-success col-md-12" onclick="diagnostico()">Hacer diagnóstico</button>
  </div>
    </div>


    <div class="col-md-6 panel panel-default">
      <div class="box-body">

      <div class="panel-heading">
          <h3>Síntomas seleccionados</h3>
      </div>

        <div id="lista-sintomas" class="panel-body ">
          
            
        </div>
        
      </div>
  </div>

  <!-- Modal diagnóstico final -->
<div id="diagnostico_final" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Posibles enfermedades</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="respuesta-no btn btn-success pull-left">No</button>
        <button type="button" class="respuesta-si btn btn-danger">Sí</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal resultado final de diagnóstico -->
<div id="resultados_medicos" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Resultados</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Aceptar</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}
{% block js %}
<!-- Datateble -->
    <script src="{% static 'js/list/list.js' %}"></script>
    <script type="text/javascript">
    var preguntas_finales;
    var index_posible_enfermedad = 0; //Esta variable es el índice de la enfermedad que se está examinando
    var num_pregunta = 1; //Las preguntas se cuentan a partir de 1 porque el primer elemento de la lista de preguntas es el nombre de la enfermedad
    var resultados = {};//Los resultados contienen el id de la enfermedad, el nombre, y estado:'descartado', 'no-examinado', 'confirmado'
    $('.selecciones').change(function() {
        if($(this).is(":checked")) {
            $("#lista-sintomas").append(`<button id="boton_`+$(this).attr('id')+`" type="button" data-toggle="tooltip" data-placement="top" title="Borrar" class="btn btn-default btn-lg signo_seleccionado" data="`+$(this).attr('name')+`" onclick="quitarSintoma('`+$(this).attr('id')+`')">`+$(this).val()+`</button>`);
        } else{
          $('#boton_'+$(this).attr('id')).remove();
        }   
    });
    var monkeyList = new List('test-list', {
        valueNames: ['signo','sintoma'],
        page: 10,
        pagination: true
      });

    function quitarSintoma( id_sintoma ){
        if($('#'+id_sintoma).is(":checked")){
          $('#'+id_sintoma).attr("checked", false);
          $('#boton_'+id_sintoma).remove();
        }
    }
      
    
    function diagnostico(){
      var sintomas = [];
      $(".signo_seleccionado").each(function() {
          sintomas.push($(this).attr('data'));
      });
      console.log(sintomas);
      $.ajax({
          url: "{% url 'posibles_enfermedades'%}",
          type: "post",
          data: "&csrfmiddlewaretoken={{csrf_token }}&sintomas="+JSON.stringify(sintomas),
          success : function(data) {
              index_posible_enfermedad = 0;
              resultados = {};
              
              if(data!=0){
                // Si es diferente de cero es porque retornó información
                console.log(data);
                // almacena un dict con los id de las enfermedades como keys y el codigo de la enfermedad como value
                // pero deberia ser el nombre [CORREGIR]
                var lista = data.lista;
                // preguntas_finales contiene como key el id de las enfermedades y en cada value
                // un arreglo con el nombre de la enfermedad y las preguntas
                preguntas_finales = data.preguntas;

                $(".resultados .panel-body").html("");
                for(key in lista){
                  $(".resultados .panel-body").append("<p>"+lista[key]+"</p>");
                  $('.resultados .panel-footer').removeClass( "oculto" );
                  // resultados almacena el id como key y el nombre de la enfermedad con su estado
                  resultados[key] = {'enfermedad':lista[key],'estado':'no-examinado'};

                }
                $('#dianostico-final').removeClass( "oculto" );
              }else{
                $(".resultados .panel-body").html("");
                $(".resultados .panel-body").append("<p>No hay suficiente información</p>");

                $('.resultados .panel-footer').addClass( "oculto" );// Cambiar etapa de pruebas
              }
              $('.resultados').removeClass( "oculto" );
              
          }
      })

    }

    function diagnosticoFinal(){
      // Obtiene el id de la primera enfermedad en la lista
      var id_enfermedad = Object.keys(preguntas_finales)[index_posible_enfermedad];
      console.log(preguntas_finales[id_enfermedad]);
      // Obtiene el nombre de la primera enfermedad
      var enfermedad = preguntas_finales[id_enfermedad][0];
      
      $("#diagnostico_final .modal-title").html("Posible enfermedad: "+enfermedad);
      $("#diagnostico_final .modal-body").html(preguntas_finales[id_enfermedad][num_pregunta]);
      $("#diagnostico_final").modal('show');
      // Se añaden a los botones de si o no las funciones con el id de la enfermedad actual que se está examinando
      $(".respuesta-no").attr("onclick","respuestaNo("+id_enfermedad+");");
      $(".respuesta-si").attr("onclick","respuestaSi("+id_enfermedad+");");
    }

    function respuestaNo(id_enfermedad){
        // El estado de la enfermedad actual (que se está examinando) cambia a "descartado"
        resultados[id_enfermedad]["estado"] = "descartado";
        // Se pasa a la siguiente enfermedad si es que hay
        index_posible_enfermedad ++;
        // Se inicializa la variable a la primera pregunta a evaluar
        num_pregunta = 1;
        if(Object.keys(preguntas_finales)[index_posible_enfermedad]==undefined){
          // Si es undefined llegó a la última pregunta y debe devoler la respuesta
          respuesta();
        }else{
          // Sino se llama a la siguiente pregunta con el id de la siguiente enfermedad
          siguientePregunta(Object.keys(preguntas_finales)[index_posible_enfermedad]);
        }

    }
    function respuestaSi(id_enfermedad){
        if (num_pregunta+1 >= preguntas_finales[id_enfermedad].length) {
          //si ya no hay más preguntas de la misma enfermedad
          console.log(id_enfermedad);
          console.log(resultados[id_enfermedad]);
          num_pregunta = 1;
          //se mueve el índice a la siguiente posible enfermedad
          index_posible_enfermedad++;
          //y el estado de la enfermedad examinada cambia a confirmado
          resultados[id_enfermedad]["estado"] = "confirmado";
          // falta validar si hay más enfermedades a examinar para pasar a la siguiente pregunta o para
          //arrojar el resutlado final
          if(Object.keys(preguntas_finales)[index_posible_enfermedad]==undefined){
          // Si es undefined llegó a la última pregunta y debe devoler la respuesta
            respuesta();
          }else{
            // Sino se llama a la siguiente pregunta con el id de la siguiente enfermedad
            siguientePregunta(Object.keys(preguntas_finales)[index_posible_enfermedad]);
          }

        } else{
            //se pasa a la siguiente pregunta
            num_pregunta++;
            siguientePregunta(id_enfermedad);
        }
    }
    function siguientePregunta(id_enfermedad){
        var enfermedad = preguntas_finales[id_enfermedad][0];
        $("#diagnostico_final .modal-title").html("Posible enfermedad: "+enfermedad);
        $("#diagnostico_final .modal-body").html(preguntas_finales[id_enfermedad][num_pregunta]);
        $(".respuesta-no").attr("onclick","respuestaNo("+id_enfermedad+");");
        $(".respuesta-si").attr("onclick","respuestaSi("+id_enfermedad+");");
       
    }
    function respuesta(){
      index_posible_enfermedad=0;
      index_posible_enfermedad = 0; 
      num_pregunta = 1;
      $('#diagnostico_final').modal('toggle');
      verResultados();

    }
    function verResultados(){
      var enfermedades_id = [];
      for (key in resultados) {
        if (resultados[key]['estado'] == "confirmado"){
          enfermedades_id.push(key);
        }

      }
      $.ajax({
          url: "{% url 'resultado_medico'%}",
          type: "post",
          data: "&csrfmiddlewaretoken={{csrf_token }}&enfermedades="+JSON.stringify(enfermedades_id),
          success : function(data) {
              var l = Object.keys(data).length
              var enfermedades = data;
              console.log(enfermedades);
              var str_html = "";
              var cont = 0;
              console.log(l);
              if (l==0) str_html = "<p>Ninguna enfermedad detectada.</p><hr>";
              else if (l>1) str_html = "<p>El resultado de su diagnóstico es el siguiente </p><p>Usted padece las siguientes enfermedades</p><hr>";
              else str_html = "<p>El resultado de su diagnóstico es el siguiente </p><hr>";
              for (key in enfermedades) {
                cont++;
                var nombre = enfermedades[key]['nombre'];
                var causas = enfermedades[key]['causas'];
                var tratamiento = enfermedades[key]['tratamiento'];
                str_html += "<p><strong>Enfermedad: </strong></p><p>"+nombre+"</p>";
                if (causas!="") str_html += "<p><strong>Causas de la enfermedad: </strong></p><p>"+causas+"</p>";
                if (tratamiento!="") str_html += "<p><strong>Tratamiento: </strong></p><p>"+tratamiento+"</p>";
                
                if (l>1 && cont < l) str_html+="<hr>";
              }
              $('#resultados_medicos .modal-body').html(str_html);
              $('#resultados_medicos').modal('show');
          }
      })
    }
    </script>

{% endblock %}