{% extends "starter.html" %}
{% load staticfiles %}
{% block css %}
 
  <style type="text/css">
  	.imagen{
  		width: 50px;
		height: 50px;
  	}
    .ancho-total{
      width: 100%;
    }
    .pagination li {
      display:inline-block;
      padding:5px;
    }
    .center_div{
        margin: 0 auto;
        width:80% /* value of your choice which suits your alignment */
    }
    .fondo-celeste{
      background-color: #f7f7f7;
    }
    .fondo-rojo{
      background-color: #fdbfbf;
    }
    .fondo-gainsboro{
      background-color: gainsboro;
    }
    .oculto{
      display: none;
    }
    .table-user-information > tbody > tr {
        border-top: 1px solid rgb(221, 221, 221);
    }

    .table-user-information > tbody > tr:first-child {
        border-top: 0;
    }


    .table-user-information > tbody > tr > td {
        border-top: 0;
    }
    .toppad
    {margin-top:20px;
    }
  </style>
{% endblock %}

{% block menu %}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">

                  <li class="active"><a href="{% url 'administrar' %}"><i class="fa fa-home"></i> Enfermedades</a>
                  </li>

                  <li ><a href="{% url 'dianostico' %}"><i class="fa fa-heartbeat"></i> Diagnóstico</a>
                  </li>

                </ul>
              </div>
            </div>
{% endblock %}
{% block dirs%}
        <section class="content-header pull-right">
      
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    {% endblock %}
{% block main %}

<div class="container">
      <div class="row">
    
        <div class="" >
   
   
          <div class="panel panel-info">
            
            <div class="panel-heading">
              <h3 class="panel-title">ENFERMEDAD</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-6 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Enfermedad:</td>
                        <td>{{enfermedad.nombre}}</td>
                      </tr>
                      <tr>
                        <td>Código:</td>
                        <td>{{enfermedad.codigo}}</td>
                      </tr>
                      <tr>
                        <td>Causas:</td>
                        <td>{{enfermedad.causas}}</td>
                      </tr>
                      <tr>
                        <td>Tratamiento:</td>
                        <td>{{enfermedad.tratamiento}}</td>
                      </tr>
                    </tbody>
                  </table>                  
                  </div>
                   <div class="col-md-6"> 
                      <label for="sintoma">Síntomas:</label>

                        {% for sintoma in sintomas %}
                        <div class="panel panel-default ">
                          <a data-toggle="collapse" href="#sintoma_{{sintoma.pk}}">
                            <div class="panel-heading fondo-rojo">
                              <h4 class="panel-title signo">
                                {{sintoma.signo_general.nombre}}
                              </h4>
                            </div>
                          </a>
                          <div id="sintoma_{{sintoma.pk}}" class="panel-collapse collapse">
                            <div class="panel-body pregunta">
                            {{sintoma.signo_general.explicacion}}
                            </div>
                          </div>
                        </div>
                        {% endfor %}


                        <label for="sintoma">Preguntas de síntomas característicos:</label>
                        {% for pregunta in preguntas %}
                        <div class="panel panel-default">
                          <a data-toggle="collapse" href="#pregunta_{{pregunta.pk}}">
                            <div class="panel-heading fondo-gainsboro">
                              <h4 class="panel-title signo">
                                Pregunta {{forloop.counter}}
                              </h4>
                            </div>
                          </a>
                          <div id="pregunta_{{pregunta.pk}}" class="panel-collapse collapse">
                            <div class="panel-body pregunta">
                            {{pregunta.pregunta}}
                            </div>
                          </div>
                        </div>
                        {% endfor %}
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}
{% block js %}
<!-- Datateble -->
    <script src="{% static 'js/list/list.js' %}"></script>
    <script type="text/javascript">


    
    </script>

{% endblock %}